@{
    ViewBag.Title = "Home Page";
}


<h1 class="display-5 text-primary">Store App</h1> <hr />
    
    


<div class="row">
    <div class="col-md-4">
        <h1 class="text-center"><i class="glyphicon glyphicon-user" style="size: 70px"></i></h1>
        <h2  class="text-center">Clientes</h2>
       
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-list-alt"></i> Empelados</h2>
       
        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <i class="glyphicon glyphicon-usd"></i>
        <h2> Ventas</h2>

        <p><a class="btn btn-primary" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

</div>